<% if flash[:alert] %>
  <div id="alert" class="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="alert">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% elsif flash[:notice] %>
  <div id="notice" class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
