.taskapp-table, .taskapp-td, .taskapp-tr, .taskapp-th, .taskapp-action {
    border: 1px solid black;
}

.taskapp-td {
    width: 200px;
    text-align: center;
    gap: 5px;
}

.taskapp-action-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.taskapp-action-div:hover {
    background-color: rgb(58, 56, 56);
}

.taskapp-index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 1000px;
}

.taskapp-th {
    background-color: rgb(39, 35, 35);
    color: rgb(243, 234, 234);
}

.taskapp-action-link {
    color: #379e9e;
    font-weight: 800;
}

.taskapp-action-link:hover {
    color: white;
}

.taskapp-action-delete {
    border: none;
    background-color: inherit;
    font-family: 'Poppins', sans-serif;   
    font-size: 15px; 
    padding: 0;
}